.container{
    /* width: 100%vh; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    margin: 50px;
    
}

.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 0 5px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

#table-results {
    color: aliceblue;
    border: 5px, solid, aliceblue;
}

#table-cell{
margin: 10px;
padding: 10px;
}